@model IEnumerable<TruckRecoveryWebApplication.Models.Order>

@{
    ViewData["Title"] = "Список заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список заказов</h1>

<p>
    @ViewBag.UserRole
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosticsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPartsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsClosed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                  <a asp-action="Details" asp-route-id="@item.Id"> 
                @Html.DisplayFor(modelItem => item.OrderNumber)
                </a>
            </td>
            <td>
                @item.StatusId .
                @Html.DisplayFor(modelItem => item.Status.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosticsDate)
            </td>
            <td>
                    @if(item.Price > 10)
                    {
                        @Html.DisplayFor(modelItem => item.Price)
                    }
            </td>
            <td>
                    @if (item.Price > 10)
                    {
                        @Html.DisplayFor(modelItem => item.DiscountedPrice)
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPartsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsClosed)
            </td>
            <td>
              
                <a asp-action="Details" asp-route-id="@item.Id">Просмотреть</a> 
                @if(ViewBag.UserRole == "admin")
                {
                   
                      @:| 
                      <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> @:|
                      <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> 
                }
              
                @if (item.StatusId == 1)
                {
                    @:| 
                    <a asp-action="Diagnostics" asp-route-id="@item.Id">Провести диагностику</a>
                }
                @if (item.StatusId == 3)
                {
                    @:| 
                    <a asp-action="FinishRepair" asp-route-OrderId="@item.Id">Завершить ремонт</a>
                }
                @if (item.StatusId == 4)
                {
                    @:| 
                    <a asp-action="CloseOrder" asp-route-id="@item.Id">Закрыть заказ</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
