@model TruckRecoveryWebApplication.Models.Order

@{
    ViewData["Title"] = "Закрыть заказ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Сдача заказа</h1>

<h3>Подтвердите, что по этому заказу получена оплата в полном объеме и подписан акт сдачи-приемки работ</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPartsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPartsDate)
        </dd>
    </dl>
    
    <form asp-action="CloseOrder">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Закрыть заказ" class="btn btn-danger" /> |
        <a asp-action="Index">Отменить</a>
    </form>
</div>
