@model WebServiceTruckRecovery.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountedPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountedPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPartsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPartsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClosed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
