@model WebServiceTruckRecovery.Models.Order

@{
    ViewData["Title"] = "Diagnostics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Diagnostics">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" readonly/>
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control"  hidden/>
                @{
                    string client = Model.Client.Name;
                    if(Model.Client.Company.Length>1)
                    {
                        client += " ("+Model.Client.Company+")";
                    }
                }
                <input class="form-control" value="@client "/>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" readonly/>
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input asp-for="StatusId" hidden="true"/>
              
            </div>
            <div class="form-group">
                <label asp-for="TruckList" class="control-label"></label>
                <textarea asp-for="TruckList" class="form-control" rows=5 readonly></textarea>
                <span asp-validation-for="TruckList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticsDate" class="control-label"></label>
                <input asp-for="DiagnosticsDate" class="form-control" />
                <span asp-validation-for="DiagnosticsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticReport" class="control-label"></label>
                <textarea asp-for="DiagnosticReport" class="form-control" rows=5 ></textarea>
                <span asp-validation-for="DiagnosticReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" disabled="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountedPrice" class="control-label"></label>
                <input asp-for="DiscountedPrice" class="form-control" disabled="true" />
                <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPartsDate" class="control-label"></label>
                <input asp-for="DeliveryPartsDate" class="form-control" readonly />
                <span asp-validation-for="DeliveryPartsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Провести диагностику" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    @if(Model.Repairs != null)
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.Repairs[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Repairs[0].Price)
                        </th>
                        <th>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Repairs) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-controller="Repairs" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
        <div class="form-group">
            <a asp-controller="Repairs" asp-action="Create" asp-route-OrderId="@Model.Id" class="btn btn-primary">Добавить работу по ремонту</a>
        </div>
    </div>
        <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SparePartsList[0].SparePart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SparePartsList[0].Count)
                    </th>
                    <th>
                        
                        @Html.DisplayNameFor(model => model.SparePartsList[0].SparePart.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.SparePartsList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SparePart.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @(item.Count*item.SparePart.Price)
                    </td>
                    <td>
                        <a asp-controller="SparePartsLists" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
         <div class="form-group">
            <a asp-controller="SparePartsLists" asp-action="Create" asp-route-OrderId="@Model.Id" class="btn btn-primary">Добавить запчасть</a>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

