@model TruckRecoveryWebApplication.Models.Order

@{
    ViewData["Title"] = "Подробности о заказе";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Подробности о заказе</h1>

<div>

    <hr />
    
    

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruckList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruckList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticReport)
        </dd>
        <dt class = "col-sm-2">
            @if(Model.Price == Model.DiscountedPrice)
            {
            @Html.DisplayNameFor(model => model.Price)
            }
            else
            {
            @Html.DisplayNameFor(model => model.DiscountedPrice)
            }
        </dt>
        <dd class = "col-sm-10">
             @if(Model.Price == Model.DiscountedPrice)
            {
            @Html.DisplayFor(model => model.Price)
            }
            else
            {
            <s> @Html.DisplayFor(model => model.Price)</s>

            @Html.DisplayFor(model => model.DiscountedPrice)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPartsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPartsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClosed)
        </dd>
    </dl>
    <div class="unOrder">
        <img class="startImg" src="../img/delivery-time.png" alt="сломанный грузовик">
        <ul class="ulProgress">
            <li class="progressLi1 progressLi">Lorem ipsum dolor sit amet.</li>
            <li class="progressLi2 progressLi">Lorem ipsum dolor sit amet.</li>
            <li class="progressLi3 progressLi">Lorem ipsum dolor sit amet.</li>
            <li class="progressLi4 progressLi">Lorem ipsum dolor sit amet.</li>
            <li class="progressLi5 progressLi">Lorem ipsum dolor sit amet</li>
        </ul>
        <img class="finishImg" src="../img/shipped.png" alt="отремонтированный грузовик">
        <script>
       function drawMarker(index) {
        let progressCollection = document.querySelectorAll('.progressLi');

        for (let i = 0; i < progressCollection.length; i++) {
                if (i < index) {

                    progressCollection[i].classList.add('progressLiFinished');

                } else {

                    progressCollection[i].classList.add('makeColorLineForActiveElements', 'progressLiNotStarted');

                }
            }

        }

        drawMarker(3);

        </script>
    </div>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>

<br>
 